<!DOCTYPE html>
<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="email.css" media="screen" />
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	
	<body>
		<div class="contenidoMail">
			<p>Estimado cliente,</p>
			<p>Le envíamos la información sobre la calidad de su empresa en el archivo adjunto.</p>
			<p>La calidad de un anunciante ha sido calculada con respecto a los sigientes puntos: </p>
			<ul>
				<li>Último reembolso</li>
					<ul>
						<li>Si hay información en las últimas 48 horas: 2 puntos.</li>
						<li>Si hay información en los últimos 10 días: 1 punto.</li>
						<li>Si tarda más de 10 días: 0 puntos.</li>
					</ul>
				<li>Último pago</li>
					<ul>
						<li>Si se realiza en los últimos 60 días: 2 puntos.</li>
						<li>Si se realiza entre 61 y 100 días: 1 punto.</li>
						<li>Si tarda más de 100 días: 0 puntos.</li>
					</ul>
				<li>Admite reclamaciones</li>
					<ul>
						<li>Si admite reclamaciones: 2 puntos.</li>
						<li>Si no admite reclamaciones: 0 puntos.</li>
					</ul>
				<li>Número de reclamaciones</li>
					<ul>
						<li>Número de reclamaciones sobre el total de compras menor del 5%: 2 puntos.</li>
						<li>Número de reclamaciones sobre el total de compras mayor del 5% y menor del 20%: 1 punto.</li>
						<li>Número de reclamaciones sobre el total de compras mayor 20%: 0 puntos.</li>
					</ul>
				<li>Reclamaciones aceptadas</li>
					<ul>
						<li>Número de reclamaciones aceptadas respecto del número de reclamaciones totales igual o superior al 80%: 2 puntos.</li>
						<li>Número de reclamaciones aceptadas respecto del número de reclamaciones totales entre el 50% y el 80%: 1 punto.</li>
						<li>Número de reclamaciones aceptadas respecto del número de reclamaciones totales inferior al 50%: 0 puntos.</li>
					</ul>
			</ul>
			<p>Para cualquier consulta póngase en contacto con nosotros en <a href="http://es.beruby.com/">BeRuby</a> </p>
			<p>Atentamente, el equipo de BeRuby</p>
		</div>
	</body>
</html>
